.home-page {
  display: flex;
  padding: var(--salt-spacing-300);
  height: 100%;
  width: 100%;
  padding-bottom: 44px;
}

.card-links {
  height: calc(11 * var(--salt-size-base));
  width: calc(9 * var(--salt-size-base));
}

.card-links > * {
  height: 100%;
}

.card-image {
  margin: calc(-1 * var(--salt-spacing-200));
  height: calc(5 * var(--salt-size-base));
}
