.myBackground {
  background-image: url('/WorkoutAppMainScreen.PNG');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}